//
// general.scss
//

body {
	font-family: $font-family-base;
	overflow-x: hidden !important;
	font-size: $font-size-base;
	color: $black;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-secondary;
	line-height: 1.5;
	font-weight: 400;
	color: $secondary;
}
::selection {
	background: rgba($primary, 0.9);
	color: $white;
}
a {
	text-decoration: none !important;
}
p {
	line-height: 1.6;
}
.lh-1 {
	line-height: 1;
}
.lh-1-2 {
	line-height: 1.2;
}
.lh-1-4 {
	line-height: 1.4;
}
